@import "./variables.scss";
@import "./slice.scss";
@import "./sound.scss";
@import "./label.scss";

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

.headingWrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
