@mixin slice-sizing($height) {
  width: 100%;
  @if $height == xs {
    min-height: 90px;
  } @else if $height == sm {
    min-height: 150px;
  } @else if $height == md {
    min-height: 300px;
  } @else if $height == lg {
    min-height: 475px;
  }
}

@mixin slice-position($direction, $position) {
  #{$direction}: $position;
}

.Slice {
  display: flex;
  flex-wrap: wrap;

  &-gap {
    gap: 40px;
  }

  &-xs {
    @include slice-sizing(xs);
  }
  &-sm {
    @include slice-sizing(sm);
  }
  &-md {
    @include slice-sizing(md);
  }
  &-lg {
    @include slice-sizing(lg);
  }

  &-horizontalLeft {
    @include slice-position(justify-content, left);
  }
  &-horizontalCenter {
    @include slice-position(justify-content, center);
  }
  &-horizontalRight {
    @include slice-position(justify-content, right);
  }
  &-verticalTop {
    @include slice-position(align-items, start);
  }
  &-verticalCenter {
    @include slice-position(align-items, center);
  }
  &-verticalBottom {
    @include slice-position(align-items, end);
  }
}
